# Build Output
dist-ssr
**/dist/
.turbo
**/styled-system/
packages/ui/src/icon/generated/
styled-system
styled-system-static
panda
panda-static
outdir
ts-import-map-outdir
!packages/ui/src/component/**/panda/
!packages/ui/src/component/**/panda/**
.eslintcache
tsconfig.tsbuildinfo
**/.velite/
# Dependencies
node_modules
.pnpm-store/
.yalc/*
storybook-static
.next
**/.astro/
**/.wrangler/
out
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*storybook.log

# Environment
*.local
*.env
.release-work/

# IDE and Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
//
