@layer reset, base, tokens, recipes, utilities;

@layer base{
  :root {
    --made-with-panda: '🐼';
}
}

@layer tokens{
  :where(:root, :host) {
    --radii-sm: 3px;
    --radii-lg: 5px;
    --radii-rounded: 30px;
    --colors-bg_main: #FFFFFF;
    --colors-bg_elevated: #FFFFFF;
    --colors-border_basic: #646F6C;
    --colors-border_basic2: #646F6C;
    --colors-text_primary: #374553;
    --colors-text_secondary: #374553;
    --colors-text_danger: #FF6F61;
    --colors-grey_100: #FEFEFE;
    --colors-grey_200: #F7F8F9;
    --colors-grey_300: #646F6C;
    --colors-grey_400: #374553;
    --colors-grey_500: #161D24;
    --colors-red_100: #FFEEF1;
    --colors-red_200: #FF6F61;
    --colors-red_300: #E45141;
    --colors-blue_100: #E1F5FF;
    --colors-blue_200: #7DD5FF;
    --colors-blue_300: #0C356A;
}

  [data-color-mode=dark] {
    --colors-bg_main: #121212;
    --colors-bg_elevated: #2E363A;
    --colors-border_basic: #2E363A;
    --colors-border_basic2: #;
    --colors-text_primary: #C5C8CE;
    --colors-text_secondary: #FDFDFD;
    --colors-text_danger: #FF6557;
    --colors-grey_100: #121212;
    --colors-grey_200: #2E363A;
    --colors-grey_300: #999FA4;
    --colors-grey_400: #C5C8CE;
    --colors-grey_500: #FDFDFD;
    --colors-red_100: #D73F2E;
    --colors-red_200: #FF6557;
    --colors-red_300: #FFD3D6;
    --colors-blue_100: #0077C8;
    --colors-blue_200: #00A9FF;
    --colors-blue_300: #0C356A
}
}

@layer utilities{

  .color_0 {
    color: 0;
}

  .text-align_center {
    text-align: center;
}

  .border-radius_rounded {
    border-radius: rounded;
}

  .cursor_pointer {
    cursor: pointer;
}

  .display_inline-flex {
    display: inline-flex;
}

  .width_100\% {
    width: 100%;
}

  .min-width_44 {
    min-width: 44px;
}

  .min-height_44 {
    min-height: 44px;
}

  .box-shadow_rgba\(0\,_0\,_0\,_0\.25\)_0px_5px_15px {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

  .cursor_not-allowed {
    cursor: not-allowed;
}

  .opacity_0\.5 {
    opacity: 0.5;
}

  .color_text_primary {
    color: text_primary;
}

  .height_44 {
    height: 44px;
}

  .height_48 {
    height: 48px;
}

  .border-radius_sm {
    border-radius: sm;
}

  .color_white {
    color: white;
}

  .border_1px_solid {
    border: 1px solid;
}

  .color_ButtonFace {
    color: ButtonFace;
}

  .line-height_20 {
    line-height: 20;
}

  .flex-direction_row {
    flex-direction: row;
}

  .align-items_center {
    align-items: center;
}

  .justify-content_center {
    justify-content: center;
}

  .font-weight_medium {
    font-weight: medium;
}

  .background-color_grey_400 {
    background-color: grey_400;
}

  .font-size_sm {
    font-size: sm;
}

  .padding-left_8 {
    padding-left: 8px;
}

  .padding-right_8 {
    padding-right: 8px;
}

  .font-size_lg {
    font-size: lg;
}

  .padding-left_16 {
    padding-left: 16px;
}

  .padding-right_16 {
    padding-right: 16px;
}

  .background-color_blue_300 {
    background-color: blue_300;
}

  .border-color_border_basic {
    border-color: border_basic;
}
}